  <aside class="bg-dark">
      <div class="container text-center
      <section class="bg-primary" id="download">
          <div class="call-to-action">
              <h2>Download</h2>
              <img src="img/portfolio/steam.png" class="img-center" alt="steam logo">
              <a href="#" class="btn btn-default btn-xl wow tada">Download on Steam now!</a>
              <img src="img/portfolio/itch.png" class="img-center" alt="itch.io logo">
              <a href="#" class="btn btn-default btn-xl wow tada">Download on itch.io now!</a>
          </div>
      </div>
  </aside>
