<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p>RogueCraft Squadron is a fast paced real-time strategy space adventure with roguelike elements.
                   Play as a squadron commander fighting against a hostile alien race; collecting resources, researching new ships,
                   and building an armada as you fight to survive against overwhelming odds.   </p>
                   <center>
                     <p>Try the Demo</p>
                <a href="https://josefnpat.itch.io/roguecraft-squadron" class="btn btn-default btn-xl">Start Playing Now!</a>
                  </center>
            </div>
        </div>
    </div>
</section>
