<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Try the multiplayer demo!>
                <hr class="light">
                <p class="text-faded"> <a href="https://josefnpat.itch.io/roguecraft-squadron"> We keep it right here on itch.io </a> </p>
                <a href="#" class="btn btn-default btn-xl">Get Playing Now!</a>
            </div>
        </div>
    </div>
</section>
