<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>RCS</h1>
  <img src="img/portfolio/logo.png" class="img-center" alt="RogueCraft Squadron logo">
            <iframe width="560" height="315"
            src="https://www.youtube.com/embed/-IlYHr2tgs8"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Try The Demo Now!</a>
        </div>
    </div>
</header>
