<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">

                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Features
                            </div>
                            <div class="project-name">
                                Fast paced space-faring RTS
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-lg-4 col-sm-6">

                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Features
                            </div>
                            <div class="project-name">
                                Includes Co-Op and PvP game types using online multiplayer.
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-lg-4 col-sm-6">

                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Features
                            </div>
                            <div class="project-name">
                                Dynamic musical score that changes as you play
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-lg-4 col-sm-6">

                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Features
                            </div>
                            <div class="project-name">
                                A classic space opera story with fun character art
                            </div>
                        </div>
                    </div>
              
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Features
                            </div>
                            <div class="project-name">
                                Carefully manage your fleet and resources to defeat your enemies.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Features
                            </div>
                            <div class="project-name">
                                Over 15 different ships to unlock
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
